<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= data %></p>


    <% ComposePost.forEach(function(post){ %>
    
        <h1><a style="text-decoration: none;color:black" href="post/<%=post._id%>"><%= post.Title %></a></h1>
        <p><%= post.Text.substr(0,200) %>
            <% if(post.Text.length>200){ %>
                ... <a style="text-decoration: none;color:black" href="post/<%=post._id%>">Read more</a>
            <% } %>
        </p>
    
    <% }); %>



<%- include("partials/footer"); -%> 